<div class="users-template">
  <h3 class="users-template__title">{{title}}</h3>
  <ul class="users-template__list">
    {{#each users}}
      <li class="users-template__item">
        <img src="{{this.photo}}" alt="" />
      </li>
      <li class="users-template__item">{{this.name}}</li>
      <li class="users-template__item">{{this.lastName}}</li>
      <li class="users-template__item">{{this.age}} </li>
    {{/each}}
  </ul>
</div>